.todo {
  margin: 20px 0;
}

.container {
  overflow: hidden;
  width: 600px;
  margin: 0 auto;
}

.filter-section {
  margin: 20px 0;
}

.rainbow-button {
  margin-top: 20px;
  cursor: pointer;
  text-decoration:none;
  color:#FFF;
  width:136px;
  height:66px;
  background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
  border-radius:5px;
  display:flex;
  align-items:center;
  justify-content:center;
  text-transform:uppercase;
  font-size: 1em;
  font-weight:bold;
}
.rainbow-button:hover {
  animation:slidebg 2s linear infinite;
}

@keyframes slidebg {
  to {
    background-position:20vw;
  }
}

.dark {
  color: #dadada;
  background: #3d3a3a;
}

.light {
  color: #3d3a3a;
  background: #dadada;
}

.dark .navbar {
  background: #dadada;
}

.light .navbar {
  background: #3d3a3a;
}

.dark .navbarItem {
  color: #3d3a3a;
}

.light .navbarItem {
  color: #dadada;
}

.navbar {
  position: fixed;
  left: 0;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbarItem {
  display: block;
  color: #dadada;
  font-size: 2em;
  text-decoration: none;
  padding: 0.5em 2em;
}

.navbarItem:hover {
  box-shadow: inset 0 0 15px rgba(0,0,0,0.6);
}

.contactForm label {
  display: block;
  margin: 20px 0 10px 0;
}

.error {
  color: red;
  font-size: 12px;
  margin: 10px 0;
}